<a href="https://colab.research.google.com/github/duhyundev/TIL/blob/master/Kaggle_ML_and_Data_Science_Survey_2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#참고 자료
- https://www.kaggle.com/rounakbanik/data-science-faq
- https://www.kaggle.com/ash316/novice-to-grandmaster
- https://programmers.co.kr/learn/courses/21/lessons/937

# 케글 사용자 설문조사
- 설문기간 : 2017.08.07 ~ 2017.08.25
- 평균 응답 시간 : 16.4 (m)
- 응답자 : 16,716 (명)
- 지역 : 171 (국가,지역) , 50명 미만인 경우 '기타'로 분류

## 기타사항
- 대부분의 응답자는 이메일 목록, 토론 포럼 및 소셜 미디어 Kaggle 채널을 통해 설문을 알게 됨.
- 신고대상자 혹은 취업 상태 질문에 답변하지 않은 응답자 제외
- 급여데이터는 일부 통화에 대해서만 받고, 해당 되는 통화에 기준하여 작성
- 미국 달러로 급여를 계산할 수 있도록 USD로 환산한 csv 제공
- 질문은 선택적
- 모든 질문이 모든 응답자에게 보여지는 것은 아님
- 취업을 한 사람과 학생을 나누어 다른 질문을 함
- 응답자의 신원을 보호하기 위해 주관식과 객관식 파일로 분리
- 개관식과 자유 형식 응답을 맞추기 위한 키를 제공하지 않음
- 주관식 응답은 같은 행에 나타나는 응답이 반드시 동일한 설문 조사자가 제공하지 않도록 열 단위로 무작위 지정 

# 데이터 파일
- schema.csv : 설문 스키마, multipleChoiceResponses.csv 및 freeformResponses.csv의 각 열 이름에 해당하는 질문 포함
- multipleChoiceResponses.csv : 객관식 및 순위 질문에 대한 응답자의 답변, 각 행이 한 응답자의 답변, 각 행이 한 응답자의 응답
- conversionRates.csv : R 패키지 "quantmod"에서 2017년 9월 14일에 액세스 한 통화 변환율 (USD)
- RespondentTypeREADME.txt : schema.csv 파일의 Asked 열에 응답을 디코딩하는 스키마

In [24]:
pwd

'/content/drive/My Drive/Colab Notebooks'

In [0]:
%matplotlib inline

import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
question = pd.read_csv('kaggle-survey-2017/schema.csv')
question.shape

(290, 3)

In [21]:
question.head()

             Column                                           Question Asked
0      GenderSelect     Select your gender identity. - Selected Choice   All
1    GenderFreeForm  Select your gender identity. - A different ide...   All
2           Country          Select the country you currently live in.   All
3               Age                                   What's your age?   All
4  EmploymentStatus             What's your current employment status?   All